{% extends 'base.html.twig' %}

{% block body %}
    <div id="container" class="container">
        <div class="col-right">
            {%  include 'home/blocks/text.html.twig' %}
        </div>
    </div>
{% endblock %}
