<div class="block text card">
    <span class="card-title">COUCOU</span>
    <p>
     BLA
    </p>
    <p>
   BLA
    </p>
</div>

<div class="block text card">
    <span class="card-title">Mission Statement</span>
    <p>
     BLA
    </p>
    <p>
     BLA
    </p>
</div>

<div class="block text card">
    <span class="card-title">Objectives</span>
    <ul class="collection">
        <li class="collection-item">
          BLA
        </li>
        <li class="collection-item">
          BLA
        </li>
        <li class="collection-item">
            BLA
        </li>
        <li class="collection-item">
            BLA
        </li>
    </ul>
</div>

<div class="block text card">
    <span class="card-title">Status</span>
    <p>
      BLA
    </p>
</div>

<div class="block text card">
    <span class="card-title">Approach</span>
    <p>
       BLA
    </p>
</div>