{% extends 'email/base.inky.twig' %}
{% block message %}
<h1>Welcome to Stichting Nepal</h1>
To set your password, please visit
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">here</a>
This link will expire in {{ tokenLifetime|date('g') }} hour(s)..
{% endblock %}